{{define "title"}}{{.Title}}{{end}}
{{define "main_content"}}<article class="post">
  <h1 class="post-title">{{.Title}}</h1>
  <p>
    Published on: <span class="post-published-at">{{.Published}}</span>
    <a class="navlink sub" href="#comments">{{.Comments | len}} comment(s)</a>
  </p>
  {{.ContentHTML}}
  <div class="post-comments" id="comments">
    <div class="center-line">
      <strong class="center-line-text">Write a comment:</strong>
    </div>
    <form method="POST" action="/comments" id="comment-form" class="post-comment">
      <div class="formdata">
        <input type="hidden" name="post_id" value="{{.Id}}">
      </div>
      <p>
        <em class="hint">After sending the comment through this form, you will receive a confirmation email with a link.  Your comment will appear after you have clicked that link.</em></p>
      <p>
        <label for="comment-email">Email</label>
        <input id="comment-email" name="email"
               type="email"
               required="required"
               placeholder="john.doe@example.com" />
      </p>
      <p>
        <label for="comment-author">Name</label>
        <input id="comment-author" name="author"
               type="text"
               required="required"
               placeholder="John Doe" />
      </p>
      <p>
        <textarea name="content" rows="10"></textarea>
      </p>
      <p><button class="button" type="submit">Add comment</button></p>
    </form>
    {{range .Comments}}
    <article class="post-comment">
      <div class="center-line">
        <span class="center-line-text">{{.Created}}</span>
        <span class="center-line-text">{{.Author}}</span>
      </div>
      <div class="comment-content">
        {{.ContentHTML}}
      </div>
    </article>
    {{end}}
  </div>
</article>
{{end}}
