{{define "title"}}Publish a new post.{{end}}
{{define "main_content"}}
<h1>Publish a new post</h1>
<article class="post">
  <form method="POST" action="/admin/posts" id="post-form">
    <p>
      <input class="post-title" type="text" name="title" placeholder="Post title" />
    </p>
    <div>
      <textarea class="post-content" name="content" rows="10" placeholder="Write post in markdown."></textarea>
    </div>
    <p>
      <button class="button" type="submit" formaction="/admin/posts/preview" form="post-form">Preview post</button>
      <button class="button" type="submit">Publish post</button>
    </p>
  </form>
</article>
{{end}}
