body {
    padding: 0 1ex;
    font-size: large;
    font-family: serif;
    max-width: 40em;
    line-height: 1.4;
    margin-left: auto;
    margin-right: auto;
    color: #333;
    background-color: #fefefe;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 120%;
}

h3 {
    font-size: 120%;
}

h4 {
    font-size: 100%;
}

code {
    font-family: "Liberation Mono", "Courier", monospace;
    font-size: 14pt;j
}

pre {
    width: 100%;
    overflow-x: auto;
    font-size: 100%;
}

.post-meta {
    color: #9b9b9b;
    font-size: normal;
}

a {
    color: #2F5EFF;
}

a:visited {
    color: #333;
}

.center-line {
    position: relative;
    border-bottom: #ccc 1px solid;
    text-align: center;
    color: #aaa;
}

.center-line-text {
    position: relative;
    top: 0.7em;
    padding: 0 1ex;
    background: white;
    text-align: center;
    display: inline-block;
}

.post-title {
    text-align: center;
    font-weight: inherit;
}

.post-title a {
    text-decoration: none;
    color: #333;
}

.heading {
    font-weight: bold;
}

.center-line.heading {
    margin-bottom: 40px;
}

.navlink {
    font-size: 120%;
    padding-top: 1ex;
    padding-bottom: 1ex;
    padding-right: 2ex;
    display: inline-block;
}

.navlink.sub {
    font-size: 100%;
    padding-left: 1ex;
    padding-right: 1ex;
}

.navlink.icon-link {
    font-size: 200%;
}

textarea {
    width: 40em;
}

.icon-xing-squared {
    color: #026466;
}

.icon-twitter-squared {
    color: #0084B4;
}

.icon-github-squared {
    color: black;
}

@media(max-width: 600px) {
    .navlink {
        text-align: center;
        vertical-align: middle;
        display: block;
    }

    label {
        display: block;
        overflow-x: hidden;
    }

    input {
        font-size: 120%;
    }

    button[type=submit] {
        width: 100%;
        font-size: 150%;
    }

    textarea {
        width: 100%;
    }

    nav .navlink {
        background-color: #eee;
        font-size: 150%;
    }

    .navlink.icon-link {
        display: none;
    }
}